
<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
        <ul class="list-group">
            <li class="list-group-item"><a routerLink='/listaMarki' >Marke</a></li>
            <li class="list-group-item"><a routerLink='/listaModela'>Modeli</a></li>
            <li class="list-group-item"><a routerLink='/listaVrsteProizvoda' >Vrste proizvoda</a></li>
            <li class="list-group-item"><a routerLink='/listaProizvoda' >Proizvodi</a></li>
          </ul>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
<router-outlet></router-outlet>